{% extends "fashionshop/base.html" %}
{% block cart %}

{% load static %}
<title>{%block title%} Cart {% endblock %}</title>
<!-- ****** Cart Area Start ****** -->
<body onload="updateShipCheck()">
    <div class="cart_area section_padding_100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            {% for order_item in items_in_order %}
                            {% if order_item.quantity != 0 %}
                            <tbody>
                                <tr>
                                    <td class="cart_product_img d-flex align-items-center">
                                        <a href="{% url 'item' order_item.item.item_id %}"><img src="{{order_item.pictures.item_picture}}" alt="Product"></a>
                                        <!-- <div><img src="{{order_item.pictures.item_picture}}" alt="Product"></div> -->
                                        <h6>{{order_item.item.item_name}}</h6>
                                    </td>
                                    <td class="size"><span>{{order_item.selected_size}}</span></td>
                                    <td class="price"><span>${{order_item.item.price|floatformat:2}}</span></td>
                                    <td class="qty">
                                        <div class="quantity">
                                            <span class="qty-minus update-cart" data-size={{order_item.selected_size}} data-item={{order_item.item.item_id}} data-action="remove" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <input type="number" class="qty-text" id="qty" step="1" min="1" max="99" name="quantity" value={{order_item.quantity}}>
                                            <span class="qty-plus update-cart" data-size={{order_item.selected_size}} data-item={{order_item.item.item_id}} data-action="add" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </td>
                                    <td class="total_price"><span>${{order_item.get_total_price}}</span></td>
                                </tr>
                            </tbody>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>

                    <div class="cart-footer d-flex mt-30">
                        <div class="back-to-shop w-50">
                            <a href="{% url 'all_items'%}">Continue shopping</a>
                        </div>
                        <div class="update-checkout w-50 text-right">
                            <a class="clear-cart" data-action = "clear">clear cart</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="coupon-code-area mt-70">
                        <div class="cart-page-heading">
                            <h5>Coupon code</h5>
                            <p>Enter your coupon code</p>
                        </div>
                        <form action="{% url 'cart' %}" method="post">
                            <input type="search" name="search" placeholder="#569ab15">
                            <button type="submit">Apply</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" >
                    <div class="shipping-method-area mt-70" >
                        <div class="cart-page-heading">
                            <h5>Shipping method</h5>
                            <p>Select the one you want</p>
                        </div>

                        <div class="custom-control custom-radio mb-30">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" data-value="4.99">
                            <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio1"><span>Next day delivery</span><span>$4.99</span></label>
                        </div>

                        <div class="custom-control custom-radio mb-30">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" data-value="1.99">
                            <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio2"><span>Standard delivery</span><span>$1.99</span></label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" data-value="0">
                            <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio3"><span>Personal Pickup</span><span>Free</span></label>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-total-area mt-70">
                        <div class="cart-page-heading">
                            <h5>Cart total</h5>
                            <p>Final info</p>
                        </div>

                        <ul class="cart-total-chart">
                            <li><span>Subtotal</span> <span>${{total_price|floatformat:2}}</span></li>
                            <li><span>Shipping</span> <span id="shipping_price" value={{order.shipping_price}}>${{order.shipping_price}}</span></li>
                            <li><span>Coupon Applied</span><span>{{applied}}</span></li>
                            <li><span><strong>Total</strong></span> <span><strong>${{order.get_order_total|floatformat:2}}</strong></span></li>
                        </ul>

                        <a href="{% url 'checkout' %}" class="btn karl-checkout-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- ****** Cart Area End ****** -->
{% endblock %}