{% extends "fashionshop/base.html" %}
{% block cart %}
{% load static %}
<title>{%block title%} Payment {% endblock %}</title>
<body>
  <!-- Cite:https://www.paypal.com/us/smarthelp/article/how-do-i-add-a-paypal-payment-button-to-my-website-faq3629 -->
    <div id="smart-button-container">
        <div style="text-align: center;">
          <div id="paypal-button-container"></div>
          <br>
          <a href='/order' id="order-button-container"></a>
        </div>
      </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AXbpNXOgeZ84In9xwT1-b1kr1cJa2o2bimFeRr-S8VslInjGmUZnqbxGxpj1-fxa8QYJHG04nJDRynRH&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      window.onload = function(){
        
        
      }
      function initPayPalButton() {
        paypal.Buttons({
          style: {
            shape: 'rect',
            color: 'silver',
            layout: 'vertical',
            label: 'paypal',
            
          },
  
          createOrder: function(data, actions) {
            var a = "{{total}}";
            // alert("amount: "+a);
            return actions.order.create({
              purchase_units: [{"amount":{"currency_code":"USD","value":a }}]
            });
          },
  
          onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
              
              // Full available details
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
  
              // Show a success message within this page, e.g.
              const element = document.getElementById('paypal-button-container');
              element.innerHTML = '';
              element.innerHTML = '<h3>Thank you for your payment!</h3>';
  
              // Or go to another URL:  
              // actions.redirect("{% url 'order' %}");
              const element2 = document.getElementById('order-button-container');
              element2.innerHTML = 'Check Orders';
            });
          },
  
          onError: function(err) {
            console.log(err);
          }
        }).render('#paypal-button-container');
      }
      initPayPalButton();
    </script>
</body>

{% endblock %}

